*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #BDBDBD;
}
header{
    background-color: #FE9A48;
    color: #676767;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    width: 100%;
    height: 6rem;
}
#logo{
    height: 6rem;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
#headerMessage{
    display: inline-block;
    position: absolute;
    top: 1;
    right: 0;
    margin-right: 2rem;
    margin-bottom: 2rem;
    font-style: italic;
}
#nav{
    background-color:#72C9F7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    width: 100%;
    height: 4rem;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navLink{
    text-decoration: none;
    font-weight: bold;
    margin-left: 2rem;
    color: #676767;
}
.navLink:hover{
    cursor: pointer;
    color:#4E95D9
}
#secondaryNav{
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
    color: #4E95D9;
}
#bodyContainer{
    display: flex;
    margin: 0rem 2rem 2rem 2rem;
}
.col{
    flex: 1;
    padding: 10px;
}
#textContainer{
    flex: 0 0 70%;
    max-width: 70%;
}
#photoContainer{
    flex: 0 0 30%;
    max-width: 30%;
    height: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#photoContainer img{
    width: auto;
    height: 15rem;
    object-fit: cover;
    display: block;
    margin-bottom: 4rem;
}
#relax{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 15rem;
   width: 100%;
   margin-top: 2rem;
}

.textBox{
    background-color: #676767;
    color: #BDBDBD;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}
footer{
    background-color:#72C9F7;
    color:#676767;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
